<% masthead t('people.edit') %>
<% navigation do %>
	<li><%= link_to(t('people.return'), people_path)%></li>
<% end %>

<%= error_messages_for :person %>

<% form_for :person, :url => person_path(@person), :html => { :method => 'put' } do |f| %>
   <%= render :partial => 'form', :locals => { :form => f } %>
	<%= f.submit t('save') %>
<% end %>