<% masthead t('newsletters.title') %>
<% navigation do %>
	<li><%= link_to(t('people.return'), people_path)%></li>
<% end %>

<% form_remote_tag :url => list_newsletters_url do %>
	<dd>
	   <% for role in @roles %>
	      <%= label 'role', role.name, role.name %>
	      <%= check_box 'role', role.name %>
	   <% end %>
		<%= submit_tag 'Tallenna' %>
	</dd>
<% end %>

<div id="generated_list">
	
</div>