<% masthead t('newsletters.title') %>
<% navigation do %>
	<li><%= link_to(t('people.return'), people_path)%></li>
<% end %>

<% form_remote_tag :url => list_newsletters_url do %>
	<dd>
	   <% for role in @roles %>
	      <%= label "role", role.id, role.name %>
	      <%= check_box 'selected_roles', nil, { :id => "role_#{role.id}" }, role.id, nil %>
	   <% end %>
	</dd>
	<%= submit_tag 'Tallenna' %>
	
<% end %>

<div id="generated_list">
	
</div>